.edit-item-line{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center ;
    justify-items: center;
    border-bottom: solid 1px black;
    padding: 3px 0;
    margin-bottom: 3px;
}
.edit-item-line-button-container{
    display: flex;
    justify-content: space-around;
}
.edit-item-addButton-container{
width: 100%;
display: flex;
justify-content: center;
}