.pdfviewer-view {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  --pageControlsShadow: 1px 1px 7px rgba(0, 0, 0, 0.175);
}

.pdfviewer-document {
  width: fit-content;
}
.pdfviewer-page {
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
}
.pdfviewer-pageControls {
  position: absolute;
  top: -20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  display: flex;
  place-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--pageControlsShadow);
  transition: all 0.25s ease-in-out;
  z-index: 5;
}
.pdfviewer-pageControls-pagenumber {
  white-space: nowrap;
  margin: 0 5px;
}
@media (pointer: fine) {
  .pdfviewer-pageControls {
    opacity: 0;
    box-shadow: none;
    top: auto;
    bottom: 20px;
  }
  .pdfviewer-view:hover .pdfviewer-pageControls {
    box-shadow: var(--pageControlsShadow);
    opacity: 1;
  }
}
