.pdf-container{
    margin: 3vh auto 0 auto;
    width:80vw;
    height: 90vh;
  }
.edit-buttons-container{
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}
#title{
  font-size:70px;
  transform: rotate(-90deg);
  position: fixed;
  left: -190px;
  top: 30vh;
}
